# ~/.dbt/profiles.yml 에 저장하세요
# (이 파일은 절대 git에 커밋하지 마세요 - 비밀번호 포함)

tpch_workshop:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "<YOUR_ORG>-<YOUR_ACCOUNT>"  # ex) myorg-myaccount
      user: dbt_workshop_user
      password: Workshop1234!
      role: dbt_workshop_role
      warehouse: dbt_workshop_wh
      database: dbt_workshop_db
      schema: "dev_{{ env_var('DBT_USER', 'default') }}"
      threads: 4
      client_session_keep_alive: False

    prod:
      type: snowflake
      account: "<YOUR_ORG>-<YOUR_ACCOUNT>"
      user: dbt_workshop_user
      # 프로덕션에서는 비밀번호 대신 키 쌍 인증 권장
      private_key_path: "~/.ssh/dbt_rsa_key.p8"
      private_key_passphrase: "{{ env_var('DBT_PRIVATE_KEY_PASSPHRASE') }}"
      role: dbt_workshop_role
      warehouse: dbt_workshop_wh
      database: dbt_workshop_db
      schema: dbt
      threads: 8
      client_session_keep_alive: False
