tpch_workshop:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      password: "{{ env_var('SNOWFLAKE_PASSWORD') }}"
      role: dbt_workshop_role
      warehouse: dbt_workshop_wh
      database: dbt_workshop_db
      schema: "dev_{{ env_var('DBT_USER', 'local') }}"
      threads: 4
      client_session_keep_alive: False

    ci:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      password: "{{ env_var('SNOWFLAKE_PASSWORD') }}"
      role: dbt_workshop_role
      warehouse: dbt_workshop_wh
      database: dbt_workshop_db
      schema: "ci_{{ env_var('PR_NUMBER', 'local') }}"
      threads: 8
      client_session_keep_alive: False

    prod:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT') }}"
      user: "{{ env_var('SNOWFLAKE_USER') }}"
      private_key_path: "{{ env_var('SNOWFLAKE_PRIVATE_KEY_PATH') }}"
      role: dbt_workshop_role
      warehouse: dbt_workshop_wh
      database: dbt_workshop_db
      schema: prod
      threads: 8
      client_session_keep_alive: False
